.App {
  text-align: center;
  background-color: #F4F6F7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F4F6F7;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .ui.button #button {
  background-color: orange;
} */

.ui.secondary.menu {
  margin-left: -.35714286em;
  margin-right: -.35714286em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: cyan;
}

.form {
  align-content: center;
  text-align: center;
  width: 100%;
}

.input {
  width: 50%
}

#dogImg {
  width: 62.5%;
  height: 62.5%
}

#navbar {
  background-color: #4660f0;
}

#search {
  position: right;
  width: 100%;
}

.nav-item {
  color: antiquewhite;
}


#yikes {
  color: red;
  text-decoration-color: #282c34;
}

#logins {
  float: left;
  align-self: center;
  width: 45%;
  height: 45%
}

#welcome {
  float: right;
  width: 55%;
  height: 55%
}

#sign-in {
  align-content: center;
}

.header{
  display: flex;
  justify-content: center;
  color: rgb(240, 239, 239);
  background-color: #4660f0;
  width: 25%;
  margin: 0 auto;
  border-radius: 10px
}

.imageHeader{
  width: 50%;
  margin: 0 auto;
  border-radius: 10px
}

body {
  background-color: #F4F6F7 !important;
}

#creategroup {
  width: 50%;
  display: inline-block;
}

a:link {
  color: #F4F6F7;
}

a:visited {
  color: rgb(254, 254, 254);
}

a:hover {
  color: #fbfec4
}

.ui.card {
  background-color: #6af58a;
}

/* form.ui.form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
} */

.tile-wrapper {
  display: flex;
  justify-content: center;
}

.imageCard {
  margin-left: 5em;
  margin-top: 5em;

}

.groupTile {
  margin-left: 5em;
  margin-top: 5em;
}